<div class="login-container">
  <mat-card class="login-card">
    <h2>Iniciar Sesión</h2>

    <form [formGroup]="form" (ngSubmit)="login()">
      <mat-form-field appearance="outline">
        <mat-label>Correo</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="form.get('email')?.hasError('required')">
          El correo es requerido
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="form.get('password')?.hasError('required')">
          La contraseña es requerida
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >
        Ingresar
      </button>
    </form>

    <p class="register-text">
      ¿No tienes cuenta?
      <a routerLink="/register" style="cursor: pointer">Regístrate aquí </a>
      <br />
      <br />
      <a routerLink="/home" style="cursor: pointer">< Regresar</a>
    </p>
  </mat-card>
</div>
